html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

ul[class],
ol[class] {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

ul[class] {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

a {
    text-decoration: none;
}

body {
    padding-top: 96px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    background: #fff;
    color: #4F586B;

}

.container {
    max-width: 1332px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}


.swiper-pagination .swiper-pagination-bullet {
    background: linear-gradient(236.84deg, #9C8BEA 1.49%, #544695 105.35%);
}

.swiper-container .swiper-button-prev,
.swiper-container .swiper-button-next {
    width: 2rem;
    height: 2rem;
    background: #FFFFFF;
    border-radius: 50%;
    box-shadow: -4px 4px 15px rgba(129, 103, 227, 0.2);
}

.swiper-container .swiper-button-prev,
.swiper-container .swiper-button-next {
    top: 43%;
}

.swiper-container .swiper-button-prev::after,
.swiper-container .swiper-button-next::after {
    content: '';
    width: 100%;
    height: 100%;
}

.swiper-container .swiper-button-prev::after {
    background: url(./components/slider/img/prewArrow.svg) center no-repeat;
}

.swiper-container .swiper-button-next::after {
    background: url(./components/slider/img/nextArrow.svg) center no-repeat;
}

.mySwiper .swiper-pagination.swiper-pagination-clickable {
    left: -39%;
}