.btn {
    display: inline-block;
    color: #fff;
    border: none;
    padding: 0.625rem 3.15rem;
    border-radius: 3.15rem;
    cursor: pointer;
    text-transform: capitalize;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 500;
    background: linear-gradient(236.84deg, #9C8BEA 1.49%, #544695 105.35%);
    box-shadow: -4px 4px 15px rgba(129, 103, 227, 0.2);
    position: relative;
    z-index: 1;
    align-self: flex-start;
    transition: transform 0.3s linear;
}

.btn:hover {
    transform: scale(1.05);
}