.slider {
    text-align: center;
    margin: 0 auto 1.375rem;
    max-width: 1372px;
    width: 100%
}

.sliderHeading {
    padding: 2rem 0 1.5rem;
    font-size: 2rem;
    line-height: 1.25;
    font-weight: 700;
}

.sliderImg {
    border-radius: 1.25rem;
    overflow: hidden;
}

.sliderItem img {
    width: 15rem;
    object-fit: contain;
}

.sliderPosition {
    display: block;
    padding: 1rem 0;
    font-size: 1.125rem;
    line-height: 1.75;
    font-weight: 500;
    text-transform: capitalize;
}

@media screen and (max-width: 768px){
    .sliderHeading {
        font-size: 1.5rem;
        text-align: left;
        padding: 1rem 1rem 1.5rem;
    }
    .sliderPosition {
        font-size: 0.9rem;
        line-height: 1.25;
    }
}