@import '../../scss/vars';

.btn {
    
    border: 1px solid $borderColor;
    border-radius: 0.25rem;
    background: $itemsBG;
    transition: all 0.3s linear;
    &:hover {
        background: #eaeffa;
        box-shadow: 0 0 6 #eaeffa;
    }

    &__link {
        display: flex;
        align-items: center;
        padding: 0.5rem 0.75rem;
        color: $primaryLink;
    }

    
    &__icon {
        width: 1.75rem;
        height: 1.75rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1rem;

        img {
            object-fit: contain;
        }
    }
}